<div class="recommendations-container" [class.light-mode]="mode === 'light'">
  <div class="recommendations-header">
    <div class="recommendations-controls" *ngIf="mode === 'full' && recommendations && recommendations.length > 0">
      <mat-checkbox [(ngModel)]="showApplied" color="primary">
        {{ 'common.showApplied' | translate | async }}
      </mat-checkbox>
    </div>
    <div class="recommendations-controls" *ngIf="mode === 'light'">
      <button mat-button color="primary" routerLink="/intelligence">
        {{ 'common.viewAll' | translate | async }}
        <mat-icon class="material-symbols-outlined">arrow_forward</mat-icon>
      </button>
      <h2>{{ 'common.recommendations' | translate | async }}</h2>
    </div>
  </div>

  <div class="recommendations-list">
    <div *ngFor="let recommendation of (mode === 'light' ? (filteredRecommendations | slice:0:3) : filteredRecommendations)" class="recommendation-item" [class.resolved]="recommendation.resolved">
      <div class="recommendation-icon" [class]="recommendation.type.toLowerCase()">
        <mat-icon class="material-symbols-outlined">{{ getRecommendationIcon(recommendation.type) }}</mat-icon>
      </div>
      <div class="recommendation-content">
        <h3>{{ recommendation.title }}</h3>
        <p>{{ recommendation.description }}</p>
        <div class="recommendation-meta">
          <span class="recommendation-date">{{ recommendation.lastUpdated | date:'short' }}</span>
          <span class="recommendation-type">{{ recommendation.type }}</span>
        </div>
      </div>
      <div class="recommendation-actions" *ngIf="mode === 'full'">
        <mat-icon (click)="onResolve(recommendation.id)" (keydown)="onResolve(recommendation.id)" *ngIf="!recommendation.resolved" class="material-symbols-outlined unresolved-icon">check_circle</mat-icon>
        <mat-icon *ngIf="recommendation.resolved" class="resolved-icon material-symbols-outlined">check_circle</mat-icon>
      </div>
    </div>
  </div>

  <div class="no-recommendations-container" *ngIf="!filteredRecommendations || filteredRecommendations.length === 0">
    <div class="no-recommendations-content">
      <h2>{{ 'recommendations.noRecommendationsTitle' | translate | async }}</h2>
      <p>{{ 'recommendations.noRecommendationsDescription' | translate | async }}</p>
    </div>
  </div>

</div> 