<div class="dashboard-container p-6">
  <!-- Header with Welcome and Sync Button -->
  <div class="flex justify-between items-center mb-8 dashboard-header">
    <div class="welcome-message">
      <h1 class="text-2xl font-semibold text-primary title-message-text" *ngIf="!userInfo?.firstName">
        {{ 'common.hello' | translate | async }}
      </h1>
      <h1 class="text-2xl font-semibold text-primary title-message-text" *ngIf="userInfo?.firstName">
        {{ 'common.hello' | translate | async }}, {{ userInfo?.firstName }}
      </h1>
    </div>
    <button mat-raised-button color="primary" class="sync-button" (click)="syncWithPlaid()" [disabled]="isSyncing">
      <mat-icon class="material-symbols-outlined sync-button-icon">sync_outlined</mat-icon>
      <span>{{ 'common.sync' | translate | async }}</span>
    </button>
  </div>

  <!-- No Accounts Connected Section -->
  <div *ngIf="!hasAccounts" class="no-accounts-container">
    <div class="no-accounts-content">
      <div class="no-accounts-logo-container">
        <img src="assets/images/black-logo.png" alt="BankU Logo" class="no-accounts-logo">
      </div>
      <p class="no-accounts-subtitle">{{ 'accounts.subtitle' | translate | async }}</p>
      <button mat-raised-button color="primary" class="connect-button" (click)="syncWithPlaid()">
        <mat-icon class="material-symbols-outlined connect-button-icon">add_circle_outline</mat-icon>
        <span>{{ 'accounts.linkYourAccount' | translate | async }}</span>
      </button>
    </div>
  </div>

  <!-- BankU Intelligence Section -->
  <div *ngIf="hasAccounts" class="bg-white p-6 rounded-lg shadow">
    <div class="flex flex-col dashboard-intelligence-container">
      <!-- Alerts Section -->
      <app-alerts
        [mode]="'light'"
        (resolve)="resolveAlert"
        (viewAll)="viewAllAlerts()">  
      </app-alerts>

      <!-- Recommendations Section -->
      <app-recommendations
        [mode]="'light'"
        (resolve)="resolveRecommendation"
        (viewAll)="viewAllRecommendations()">
      </app-recommendations>
    </div>
  </div>
</div> 