:host {
  display: block;
  background-color: var(--background);
}

.title-message-text {
  font-weight: 200;
}

.dashboard-header {
  margin-bottom: 2rem;
}

.dashboard-container {
  max-width: 1400px;
  margin: 0 auto;
}

.dashboard-intelligence-container {
  margin-top: 24px;
  gap: 24px;
}

.sync-button {
  color: white;
  font-weight: 200;
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  background-color: var(--banku-call-to-action) !important;
  &:hover {
    color: var(--banku-bg-light) !important;
  }
  .sync-button-icon {
    width: 24px;
    height: 24px;
    font-size: 24px;
  }
}

.no-accounts-logo-container {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--banku-bg-light);
  border-radius: 100%;
}
.no-accounts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 45vh;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  .no-accounts-logo {
    width: 65px;
    height: 65px;
    margin: 0px auto;
  }
}

.no-accounts-content {
  text-align: center;
  padding-bottom: 6rem;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.no-accounts-icon {
  font-size: 64px;
  width: 64px;
  height: 64px;
  color: var(--primary-color);
  margin-bottom: 1.5rem;
}

.no-accounts-title {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--text-primary);
  margin-bottom: 1rem;
}

.no-accounts-subtitle {
  font-size: 1.125rem;
  color: var(--text-secondary);
  line-height: 1.5;
}
.connect-button-icon{
  width: 24px !important;
  height: 20px !important;
  font-size: 20px;
}
.connect-button {
  padding: 0.75rem 2rem;
  height: 55px;
  font-size: 1.125rem;
  border-radius: 8px;
  background-color: var(--banku-call-to-action) !important;
  color: white;
  font-weight: 200;
  
  mat-icon {
    margin-right: 0.5rem;
  }
}

.alert, .recommendation {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-color: white;
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 1rem;
  
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
}

h1, h2 {
  color: var(--primary-color);
}

.text-blue-600 {
  color: var(--accent-color);
}

.text-red-600 {
  color: var(--danger-color);
}

.text-yellow-600 {
  color: var(--warning-color);
}

@media (max-width: 768px) {
  .dashboard-container {
    padding: 1rem;
  }

  .no-accounts-container {
    min-height: 50vh;
    margin: 1rem;
  }

  .no-accounts-title {
    font-size: 1.5rem;
  }

  .no-accounts-subtitle {
    font-size: 1rem;
  }

  .connect-button {
    width: 100%;
  }
} 